* {
    margin: 0;
    outline: none;
    font-family: 'Open Sans', sans-serif;
  }

  html {
    font-size: 14px;
  }

main {
    padding: 0rem 8rem;
}

h2.fs_36_Raleway {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 2.57rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 7.14rem;
    color: #212121;
}

.line {
    width: 4.571rem;
    height: 0.14rem;
    margin-top: 1.786rem;
    margin-left: calc(50% - 2.285rem);
    color: #E72424;
    background-color: #E72424;
    
}

.text1 {
    font-family: 'Open Sans';
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    margin-top: 2.143rem;
    margin-bottom: 4.786rem;
    line-height: 1.357rem;
    color: #86878B;
    text-align: center;
}

.tiles-wrapper {
    margin: 0 -0.5rem;
    width: calc(100% + 1rem);
    font-size: 0;
  }
  
.tile_container {
    width: calc(100% / 3);
    display: inline-block;
    box-sizing: border-box;
  }
  
.tile {
    font-size: 1rem;
    padding: 0rem 1rem;
    text-align: center;
  }
  
.tile_image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border: 1px solid #E72424;
    position: relative;
  }
  
.tile_description1 {
    margin-top: 2.143rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 1.429rem;
    line-height: 1.929rem;
  }
  
  .tile_description2 {
    margin-top: 1.143rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.357rem;
    text-align: center;
    color: #000000;
  }

.tile img {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
  }