* {
    margin: 0;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #000000;
  }

html {
    font-size: 14px;
  }

main {
    max-width: 1400px;
    max-height: 595px;
    margin: 0 auto;
    padding: 100px 0px 109px 0px;
}

.heading {
    font-family: 'Raleway';
    font-size: 2.57rem;
    line-height: 3rem;
    color: #212121;
}

.line {
    width: 64px;
    height: 2px;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E72424;
}

.text {
    line-height: 1.36rem;
    color: #86878B;
    text-align: center;
}

.tiles-wrapper {
    margin: auto;
    margin-top: 67px;
    font-size: 0;
    padding: 0 100px;
  }
  
.tile_container {
    width: calc(100% / 3);
    display: inline-block;
    box-sizing: border-box;
  }
  
.tile {
    text-align: center;
    padding: 0px 15px 0px 15px;
  }
  
.tile_image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border: 1px solid #E72424;
    position: relative;
  }
  
.tile_title {
    font-size: 1.43rem;
    line-height: 1.93rem;
    margin-top: 30px;
    margin-bottom: 16px;
    font-weight: bold;
    color: #333333
  }
  
  .tile_description {
    font-size: 1rem;
    line-height: 1.36rem;
  }

.tile img {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
  }
